/* Empty. Add your own CSS if you like */
.reduction {
	text-align: center;
	font-size: 7vh !important;	
}

.request-btn{
	background-color: #FF9C00;
	color: #FFF;
	border-radius: 5px; 
	text-decoration: none;
	padding: 5px;
}

.delete-btn{
	background-color: red;
	color: #FFF;
	border-radius: 5px; 
	text-decoration: none;
	padding: 5px;
}

.empty {
	text-align: center;
}

.btn-cancel {
	color: #000 !important;
}

.msg-active {
	background-color: rgba(0, 0, 0, 0.2) !important;
}